@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('/cursor.png') 24 24, auto;
}

a, button, [role="button"], .cursor-pointer {
  cursor: url('/cursor.png') 24 24, pointer;
}

/* NO fuerces en todo */
* {
  cursor: inherit;
}

/* IMPORTANTE: permitir scroll */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* CLAVE */
}

#root {
  min-height: 100%;
}

/* Ocultar scrollbar (opcional) */
::-webkit-scrollbar {
  display: none;
}

canvas {
  pointer-events: none;
}